.blogs_section{
    width: 85%;
    margin: auto;
}
.blof_cards{
    border-radius: 14px;
border: 1px solid var(--Neutral-Colors-Color-600, #D4D2E3);
background: var(--Neutral-Colors-White, #FFF);
width: 100%;
max-width: 400px;
padding: 16px;
height: 100%;
text-decoration: none;
transition: box-shadow .3s, transform .3s;
}
.blof_cards:hover{
    transform: translate(0, -8px);
    box-shadow: 0 1px 9px 0 #00000005, 0 2px 6px 0 #00000003, 0 10px 34px 0 #0000000f;
}
.move_right{
    transition: box-shadow .3s, transform .3s; 
}
.blof_cards:hover .move_right{
    transform: translateX(5px);
}
.blof_cards:hover .blogs_post_title{
    color: #024de5;
}
.thumbnails_poster{
    transition: box-shadow .3s, transform .3s; 
}
.blof_cards:hover .thumbnails_poster{
    transform: scale(1.1);
    
}
.inner_blogs{
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    align-items: stretch;
    margin-bottom: 34px;
}
.thumb_nail{
    height: 200px;
    margin-bottom: 16px;
    overflow: hidden;
    border-radius: 14px;
}
.learnmore_button{
    color: #024DE5;
}
.blogs_post_title{
   color: #000;
    font-size: 18px;
    line-height: 1.4em;
    transition: box-shadow .3s, transform .3s; 
}
.thumbnails_poster{
    width: 100%;
    height: 100%;
}
.blog_content{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
@media (max-width:768px) {
    .inner_blogs{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    .blogs_section{
        width: 90%;
        margin-bottom: 30px;
    }
    .blogs_post_title{
        font-size: 18px;
    }
}