.benefits_section{
    width: 100%;
    height: auto;
}
.left_benefit, .benefit_right{
    width: 50%;
    padding: 40px 14px 14px 14px;
    border-radius: 14px;
border: 1px solid var(--Neutral-Colors-Color-600, #D4D2E3);
background: var(--Neutral-Colors-White, #FFF);
}
.benefits_inner_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 24px;
    width: 85%;
    margin: auto;
}
.benefits_head{
    text-align: center;
    font-size: 32px;
font-style: normal;
font-weight: 600;
color: #000;
}
.benefits-point{
    font-size: 18px;
}