.section.home-hero_image {
    z-index: 1;
    background-image: linear-gradient(to top, var(--purple) 10%, #fff0 85%), url(../../../public/62a180449a8eed53acc8f076_ARMedia-147-min.jpg);
    background-position: 0 0, 50% 0;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    min-height: 100vh;
    margin-top: -110px;
    padding-top: 275px;
    padding-bottom: 10vh;
    font-size: 24px;
    display: flex
;
    position: relative;
}
.her_section{
    width: 90%;
    margin: auto;
}
.myclass-2 {
    width: 80%;
}
.section {
    background-color: var(--purple);
    padding: 140px 0;
    --purple: #1a73e8;
}
@media (max-width:500px) {
    .mobile-box{
        flex-direction: column !important;
    }
    .box1{
        margin-right: 0;
        margin-bottom: 10px;
    }
    .mboxes{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .myclass-2 {
        width: 100%;
    }
}
.hero-image{
    height: 550px;
    object-fit: cover;
    border-radius: 14px;
}

.wp-element-button{
    background-color: hsl(208, 92%, 54%);
    border: 2px solid hsl(208, 92%, 54%);
    border-radius: 14px;
    color: white;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1;
    padding: 1.25rem 3rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .25sease-out;
    width: fit-content;
}
.hero_title{
font-size: 46px;
}
@media (max-width:768px) {
    .hero_title{
     font-size: 32px !important;
    }
    .wp-element-button{
        width: 100%;
    }
    .hero-image {
        height: 395px;
        object-fit: cover;
        border-radius: 14px;
    }
}
.wp-element-button{
    text-decoration: none;
    transition: transform .3s, color .3s, border-color .3s, box-shadow 3s;
    position: relative;
    transform-style: preserve-3d;
}
.wp-element-button:hover{
    border-color: #d1d9e9;
    background: #fff;
    box-shadow: 0 8px 14px 0 #14142b0f;
    color: #19213d;
    transform: translate3d(0, -4px, .001px);
}