@import "tailwindcss";

:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(208, 92%, 54%);
  --first-color-alt: hsl(208, 88%, 50%);
  --title-color: hsl(220, 68%, 4%);
  --white-color: hsl(0, 0%, 100%);
  --text-color: hsl(220, 15%, 66%);
  --body-color: hsl(0, 0%, 100%);
  --container-color: hsl(220, 50%, 97%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", system-ui;
  --big-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --tiny-font-size: .688rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --big-font-size: 3rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --tiny-font-size: .75rem;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

body {
  font-family: 'Parkinsans', sans-serif;
  font-weight: 400; 
}

p{
  font-family: 'Parkinsans', sans-serif;
  font-weight: 400; 
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Parkinsans', sans-serif;
  font-weight: 500;
}
a{
  font-weight: 400;
}
@font-face {
  font-family: 'Parkinsans';
  src: url('/fonts/Parkinsans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Parkinsans';
  src: url('/fonts/Parkinsans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Parkinsans';
  src: url('/fonts/Parkinsans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Parkinsans';
  src: url('/fonts/Parkinsans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Parkinsans';
  src: url('/fonts/Parkinsans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
.header{
  z-index: 1000;
  position: relative;
}

.trailspage{
  width: 100%;
  height: auto;
  background: #fff;
}
.inner_trailspage{
  width: 90%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin: 60px auto;
  gap: 14px;
}
.sidebar{
  width: 26%;
  height: auto;
  border-radius: 16px;
}
.main{
  width: 70%;
  height: auto;
}
.trail_card{
  padding: 20px;
    transition: border-color .3s, transform .3s;
    transform: none;
    transform-style: preserve-3d;
    border: 1px solid #e7e7e7;
    background-color: #fff;
    border-radius: 14px;
  margin: 56px 0;
}
.trail_card:hover{
  --tw-shadow: 0px 19px 0px -12px #bcbfff;
    --tw-shadow-colored: 0px 19px 0px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border-radius: 20px;
    --tw-border-opacity: 1;
    border-color: rgb(137 132 255 / var(--tw-border-opacity));
    border: 1px solid rgb(137 132 255);
    background: oklch(.98 .016 73.684);
    transform: translate(0, -0.5rem) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
}

.pagination{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  margin-top: 40px;
}
.count{
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prev{
  width: 95px;
  height: 45px;
  border: 2px solid #e0e0e0;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #1a73e8;
}
.next{
  color: white;
  background: #1a73e8;
  width: 95px;
  height: 45px;
  border-radius: 10px;
  cursor: pointer;
}
.trailsdescription{
  font-size: 13px;
  font-weight: 400;
  margin: 12px 0;
  width: 70%;
}
.title_status{
  display: flex;
  align-items: center;
}
.status_card{
  display: flex;
}
.status_card {
  display: flex;
  height: auto;
  padding: 8px;
  border: 1px solid #1a73e8;
  border-radius: 10px;
  gap: 6px;
  justify-content: center;
  align-items: center;
}
.status_card p{
  font-size: 13px;
}
.result_box{
  width: auto;
  height: 100%;
}
.trail_title {
  width: 65%;
  font-size: 15px;
  line-height: 1.6em;
  letter-spacing: 0.2px;
}
.featuredabsolute{
  font-size: 12px;
  position: absolute;
  top: -25px;
  background: #1a73e8;
  width: 130px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0 0;
  color: white;
}
.head_button{
  border-radius: 12px;
}
.filters_bar{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin: 40px 0 40px 0;
}
.clear-filters{
  display: flex;
  align-items: center;
}
@media (max-width:768px) {
  .inner_trailspage{
    flex-direction: column-reverse;
    margin-top: 0;
  }
  .main{
    width: 100%;
  }
  .status_card{
    display: none;
  }
  .trail_title{
    width: 100%;
  }
  .trailsdescription{
    width: 100%;
    color: #4b5563;
  }
  .sidebar{
    width: 100%;
  }
  .filters_bar{
    gap: 16px;
  }
}
.summary-card__title{
  color: #000000;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6em;
    letter-spacing: 0;
    margin-right: 1.6rem;
    margin-bottom: 1.2rem;
}
.before_info{
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  margin: 14px 0;
}
.underline{
  height: 2px;
    background-color: #1a73e8;
    margin-top: 2px;
    width: 100%;
}
.longunderline{
  width: 100%;
}
.inclupara{
  font-size: 14px;
}
.exclupara{
  font-size: 14px;
}
.studypara{
  font-size: 14px;
  line-height: 1.8em;
}
@media (max-width:500px) {
  .summary-card__title{
    font-size: 1rem;
    margin-right: 0;
  }
}
.single_trails_sidebar{
  width: 20%;
}
.single_trails_main{
  width: 50%;
}
.contact_form_main{
  width: 20%;
  height: fit-content;
  padding: 24px;
  border: 1px solid #ebe7ff;
  border-radius: 24px;
  background: #f8f6ff;
    min-height: 100%;
}
.single_brief_page{
  flex-wrap: unset;
  justify-content: space-between;
}

.single_trails_main .search-box{
  margin: auto;
}

  /*=============== LOGIN  ===============*/
  .login {
    position: relative;
    height: 100vh;
    align-items: center;
    overflow: hidden;
  }
  
  .login__blob {
    display: none;
  }
  
  .login__title {
    font-size: var(--big-font-size);
    color: var(--title-color);
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .login__box {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 1rem;
  }
  
  .login__input {
    background: none;
    width: 100%;
    padding: 1.5rem 2.5rem 1.5rem 1.25rem;
    font-weight: var(--font-semi-bold);
    border: 3px solid transparent;
    border-radius: 1rem;
    z-index: 1;
    transition: border-color .4s;
  }
  
  .login__input:autofill {
    transition: background-color 6000s, color 6000s;
  }
  
  .login__label {
    position: absolute;
    left: 1.25rem;
    font-weight: var(--font-semi-bold);
    transition: transform .4s, font-size .4s, color .4s;
  }
  
  .login__icon {
    position: absolute;
    right: 1rem;
    font-size: 1.25rem;
    transition: color .4s;
  }
  
  .login__password {
    cursor: pointer;
    z-index: 10;
  }
  
  .login__forgot {
    display: block;
    width: max-content;
    margin: 1rem 0 0 auto;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--text-color);
    transition: color .4s;
  }
  
  .login__forgot:hover {
    color: var(--first-color);
  }
  
  .login__button {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    background-color: var(--first-color);
    color: var(--white-color);
    font-weight: var(--font-semi-bold);
    padding-block: 1rem;
    border-radius: 4rem;
    margin-block: 1rem;
    cursor: pointer;
    transition: background-color .4s, box-shadow .4s;
  }
  
  .login__button:hover {
    background-color: var(--first-color-alt);
    box-shadow: 0 8px 24px hsla(208, 92%, 32%, .3);
  }
  
  
  /* Input focus move up label */
  .login__input:focus ~ .login__label {
    transform: translateY(-12px);
    font-size: var(--tiny-font-size);
  }
  
  .login__input:focus {
    padding-block: 2rem 1rem;
  }
  
  /* Input focus sticky top label */
  .login__input:not(:placeholder-shown).login__input:not(:focus) ~ .login__label {
    transform: translateY(-12px);
    font-size: var(--tiny-font-size);
  }
  
  .login__input:not(:placeholder-shown).login__input:not(:focus) {
    padding-block: 2rem 1rem;
  }
  
  /* Input focus color */
  .login__input:focus {
    border-color: var(--first-color);
  }
  
  .login__input:focus ~ .login__label,
  .login__input:focus ~ .login__icon {
    color: var(--first-color);
  }
  .single_info .trail_card{
    margin: 0;
  }